body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  margin-top: 20px;
  color: #555;
}

#auth-section {
  max-width: 300px;
  width: 100%;
}

.appSec input {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  margin: 5px 0;
}

.appSec {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
}

.outInp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btns {
  justify-content: center;
  display: flex;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #00408d;
}

#todosContainer {
  margin: 25px auto;
}

p#text {
  flex: 1;
  overflow-x: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

li button {
  background-color: #419dff;
}

li button:hover {
  background-color: #00408d;
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  input[type="text"] {
    width: 100%;
  }

  ul {
    width: 100%;
  }

  button {
    font-size: 12px;
    padding: 8px 10px;
  }
}

@media (max-width: 500px) {
  #app-section > h2 {
    display: none;
  }
}
